<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>IGS Watcher</title>
	<meta name="description" content="Watching IGS as it happens">
	<meta name="author" content="Beldur">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="css/screen.css" media="screen, projection">
	<link rel="stylesheet" href="css/print.css" media="print">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>IGS Watcher</h1>
		<div class="span-5 colborder">
			<h2>Menu</h2>
		</div>
		<div class="span-18 last">
			<h2>Main</h2>
			<div id="gameTabs">
				<ul>
				    <li>
				        <a href="#liveGames">Live Games</a>
				    </li>
				</ul>
			    <div id="liveGames"></div>
			</div>
		</div>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/libs/jquery-1.6.min.js"></script>
	<script src="js/libs/jsmvc/jquery.class.js"></script>
	<script src="js/libs/jsmvc/jquery.lang.js"></script>
	<script src="js/libs/jsmvc/jquery.lang.openajax.js"></script>
	<script src="js/libs/jsmvc/jquery.lang.rsplit.js"></script>
	<script src="js/libs/jsmvc/jquery.controller.js"></script>
	<script src="js/libs/jsmvc/jquery.controller.subscribe.js"></script>
	<script src="js/libs/jsmvc/jquery.model.js"></script>
	<script src="js/libs/jsmvc/jquery.model.list.js"></script>
	<script src="js/libs/jsmvc/jquery.view.js"></script>
	<script src="js/libs/jsmvc/jquery.view.ejs.js"></script>
	<script src="js/script.js"></script>
</body>
</html>